.ant-btn-default {
  background-color: transparent;
  border-color: var(--default-black);
  color: var(--default-black);
  border-radius: var(--border-radius);
}

.ant-btn-default:hover,
.ant-btn-default:focus {
  border-color: var(--default-black);
  color: var(--default-black);
  transition: color var(--transition), border-color var(--transition),
    background-color var(--transition);
}

.ant-btn-default a {
  transition: none;
}

.ant-btn-primary {
  background-color: var(--primary-button-color);
  border-color: var(--primary-button-hover-color);
  border-radius: var(--border-radius);
  border: none;
}

.ant-btn-primary:hover {
  background-color: #574bc2;
}

.ant-btn-primary:focus {
  background-color: var(--primary-button-hover-color);
}
