.divider {
  position: relative;
  border: none;
}

.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #e94e99,
    #fd5e82,
    #ff766d,
    #ff925e,
    #ffad58,
    #ffb16a,
    #ffb57b,
    #ffba8b,
    #ffb4ad,
    #ffb6d1,
    #eec0ef,
    #cdccff
  );
}
