.container {
  padding: 2rem 0;
}

.difficultyList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hardWordsCard {
  border: 2px solid black !important;
  padding: 10px !important;
  display: grid;
  place-content: center;
}

.title {
  margin-bottom: 2rem;
}
