:root {
  --main-bg-color: #fefdfe;
  --main-text-color: #131313;
  --button-text-color: #fff;
  --primary-button-color: #506cf0;
  --primary-button-hover-color: #6881f9;
  --default-button-color: #a7c0cd;
  --decoration-color: #fe7860;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap");
@import url("./styles/antButtons.css");

body {
  margin: 0;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
