.sprint {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.paddingTop {
  padding-top: 15rem;
}

.container {
  padding-bottom: 4rem;
}

.buttonCorrect {
  background-color: var(--success) !important;
  color: var(--default-white) !important;
  border-color: var(--success) !important;
  font-weight: 500;
}

.buttonIncorrect {
  background-color: var(--red) !important;
  color: var(--default-white) !important;
  border-color: var(--red) !important;
  font-weight: 500;
}

.buttonCorrect:hover,
.buttonCorrect:focus {
  font-weight: 500;
  background-color: #6caa09 !important;
  color: var(--default-white) !important;
  border-color: var(--success) !important;
}

.buttonIncorrect:hover,
.buttonIncorrect:focus {
  font-weight: 500;
  background-color: #c0290f !important;
  color: var(--default-white) !important;
  border-color: var(--red) !important;
}

@media (max-width: 767px) {
  .paddingTop {
    padding-top: 10vh;
  }

  .buttons {
    flex-direction: column;
  }
}
